@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";
@import 'wireui/css';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";



[x-cloak] {
    display: none;
}
